{% extends 'herencia.html' %}


{% block bloqueQueCambia %}

<style>
    h1{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    }


    h2{
        font-family: Arial, Helvetica, sans-serif;
     }
    
     p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            text-transform: capitalize;
            margin: 20px;
           
        }
</style>

<h1>Equipo</h1>

<h2>Emmanuel Anton Fiquetta</h2>
<h3> tec. Univ. Produccion Industrial Automatizada</h3>

<p>. A cargo de la coordinacion de desarrollo de productos, gestion de los recursos, nuevas tecnologias y facturacion </p>
<p>. Con experiencia laboral en analisis y manejo de laboratorio e implementacion de indicadores y metodologia Lean.</p>

<h2> Alejandro Giungi Miglioni</h2>
<h3>Tecnico mecanico</h3>

<p>. A cargo de la deteccion de oportunidades de negocio y financiacion, estudios de mercado, ventas y contacto directo con clientes.</p>
<p>. Con experiencia en gestion de mantenimiento para empresas industriales.</p>    
{% endblock bloqueQueCambia %}