{% extends 'herencia.html' %}


{% block  bloqueQueCambia %}

<style>
    h1{
        text-align: center;
    }


    h2{
        text-align: center;
     }
    
     p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            text-transform: capitalize;
            margin: 20px;
            text-align: center;
        }
</style>
<header>
    <h1>Bienvenidos a Envero</h1>
</header>
<section>
    <article>
        <h2>¿Que es Envero?</h2>
        <p>Es una herramienta digital de gestion de trazabilidad</p>
    </article>
    <article>
        <h2>¿A quien esta dirigido?</h2>
        <p>Esta dirigido a los diferentes actores del sector vitivinicola</p>
    </article>
    <article>
        <h2>¿Que necesitan?</h2>
        <p>Minimizar y Optimizar el tiempo. Garantizar la flexibilidad de sus procesos y la inocuidad de sus productos</p>
    </article>
    <article>
        <h2>¿Como lo ayudamos?</h2>
        <p>Con una plataforma virtual intuitiva</p>
    </article>
</section>
<footer>
    
</footer>
    
{% endblock bloqueQueCambia %}
    