{% extends 'herencia.html' %}


{% block bloqueQueCambia %}

<style>
h1{
    text-align: center;
}


   p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-transform: capitalize;
        margin: 20px;
    }

</style>

<header>
    <h1>Problema</h1>
</header>
<section>
    <article>
        <p>Las pequeñas y medianas bodegas, se encuentran con barreras que le dificultan acceder 
            a mercados internacionales, ya que no poseen certificaciones de sus procesos.
        </p>
        <p>Existen bodegas que no tiene implementada una herramienta digital para gestionar la 
            trazabilidad de sus procesos que les permitan garantizar la calidad de sus productos.
        </p>
        <p>Los registros son llevados de forma personal, manual y en papel, por lo que pueden
            presentar problemas en su confeccion.
        </p>
        <p>En los casos de existir un inconveniente, no puede establecer una correcta trazabilidad de
            forma clara y precisa de los procesos efectuados en sus productos.
        </p>
    </article>
</section>
    
{% endblock bloqueQueCambia %}
    