{% extends 'herencia.html' %}


{% block bloqueQueCambia %}


<style>
    h1{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    }

    
     p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            text-transform: capitalize;
            margin: 20px;
           
        }
</style>

<h1>Solucion</h1>

<h2>¿como lo hacemos?</h2>

<p>desarrollamos una plataforma intuitiva que alcanza a todos sus colaboradores, simplificando la trazabilidad
    del proceso productivo, desde el ingreso de la materia prima, la elaboracion y culminado con la obtencion del 
    producto final.
    trabajamos dinamicamente durante todo el proceso de implementacion y posterior etapa de certificaciones, 
    vinculadas a la gestion de calidad, sustentabilidad e inocuidad de los procesos y los productos obtenidos,
    buenas practicas agricolas, manufactura, analisis de peligros y puntos criticos de control.
    tenemos indicadores en tiempo real para evaluar la evolucion de tu empresa, ayudandote en la toma de 
    de decisiones estrategicas y ejecutivas. Podras acceder a la informacion que necesitas de forma remota y desde
    cualquier dispocitivo.
    sabemos lo importante que es tener exito en los negocios y las dificultades que se presentan dia a dia, por eso desarrollamos
    propuestas acordes a tus necesidades. pasamos juntos al siguiente nivel integrandote con nuevas tecnologias a la industria 4.0.
</p>
    
{% endblock bloqueQueCambia %}