{% extends 'herencia.html' %}


{% block bloqueQueCambia %}

<h1>Tecnologia</h1>


<h2>tecnologia 4.0</h2>
<p>Bienvenidos a la seccion Tecnologia</p>

<h2>normas de calidad</h2>
<p>Bienvenidos a la seccion Tecnologia</p>

<h2>software multiplataforma</h2>
<p>Bienvenidos a la seccion Tecnologia</p>

<h2>rapida implementacion</h2>
<p>Bienvenidos a la seccion Tecnologia</p>

<h2>programa de capacitacion</h2>
<p>Bienvenidos a la seccion Tecnologia</p>

<h2>soporte tecnico constante</h2>
<p>Bienvenidos a la seccion Tecnologia</p>

<h2>sistema customizable</h2>
<p>Bienvenidos a la seccion Tecnologia</p>
    
{% endblock bloqueQueCambia %}